/* Media Queries */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.mp-24 {
  padding: 2rem 0 0 4rem; }
  @media only screen and (min-width: 671px) {
    .mp-24 {
      padding: 0 0 0 0; } }

.mp-34 {
  padding: 3rem 0 0 4rem; }
  @media only screen and (min-width: 671px) {
    .mp-34 {
      padding: 0 0 0 0; } }

/* Transitions */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  background-color: #fff; }

.wrapper {
  display: flex;
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
  position: relative; }

img {
  vertical-align: bottom; }

ul {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;
  font-weight: 300; }

a {
  display: inline-block;
  text-decoration: none; }

.subtitle {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.7rem;
  text-transform: uppercase;
  letter-spacing: .2rem; }
  @media only screen and (min-width: 671px) {
    .subtitle {
      font-size: 1.4rem;
      line-height: 2rem; } }
  .subtitle--white {
    color: #fff; }
  .subtitle--dark {
    color: #191a1d; }

.primary-title {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.3; }
  @media only screen and (min-width: 671px) {
    .primary-title {
      font-size: 5.2rem;
      line-height: 7.5rem; } }
  .primary-title--white {
    color: #fff; }
  .primary-title--dark {
    color: #191a1d; }

.secondary-title {
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  text-transform: capitalize; }
  @media only screen and (min-width: 671px) {
    .secondary-title {
      font-size: 2.4rem;
      line-height: 2.4rem; } }
  .secondary-title--white {
    color: #fff; }
  .secondary-title--dark {
    color: #191a1d; }

.title-quinary {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: capitalize;
  font-weight: 600; }
  @media only screen and (min-width: 671px) {
    .title-quinary {
      font-size: 2.4rem;
      line-height: 2.9rem; } }
  .title-quinary span {
    text-transform: uppercase; }
  .title-quinary--white {
    color: #fff; }
  .title-quinary--dark {
    color: #191a1d; }

.small-heading {
  font-size: .8rem;
  line-height: .8rem;
  text-transform: uppercase; }
  @media only screen and (min-width: 671px) {
    .small-heading {
      font-size: 1.2rem;
      line-height: 1.2rem; } }
  .small-heading--white {
    color: #fff; }
  .small-heading--dark {
    color: #191a1d; }

.text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem; }
  @media only screen and (min-width: 671px) {
    .text {
      font-size: 2.2rem;
      line-height: 4rem; } }
  .text--white {
    color: #7E7F80; }

.header .logo a {
  color: #fff;
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.link {
  color: #c38d73;
  font-weight: 400; }

.featured-work .grid__item {
  text-align: center; }
  .featured-work .grid__item .small-heading {
    margin-top: 2rem; }
  .featured-work .grid__item .title-quinary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.cta, .cta--full-width {
  color: #191a1d;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .1rem; }

.home-services .text {
  margin-top: 2rem; }

.services-links {
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem; }

.btn {
  color: #c38d73;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase; }

.large-heading {
  font-size: 8rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.1);
  font-weight: 700;
  line-height: 1; }

.our-folk p {
  color: #fff !important; }

.start-a-project a span {
  display: inline-block;
  color: #191a1d;
  font-size: 2.6rem;
  font-weight: 500; }

.phone {
  color: #c38d73;
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 2rem; }

.address {
  color: #191a1d;
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 2rem; }

.link--active {
  color: #c38d73 !important; }

.cta, .cta--full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  width: 13rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all .5s ease;
  border-bottom: 0.2rem solid #c38d73; }
  .cta::before, .cta--full-width::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-color: #aaaaab;
    transition: all .5s ease; }
  .cta::after, .cta--full-width::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-color: #c38d73;
    transition: all .5s ease;
    transition-delay: 0.25s; }
  .cta:hover, .cta--full-width:hover {
    color: #fff; }
    .cta:hover::before, .cta--full-width:hover::before {
      top: 0%; }
    .cta:hover::after, .cta--full-width:hover::after {
      top: 0%; }
  .cta--full-width {
    width: 100%;
    margin: 3rem 0; }

.footer {
  background-color: #fff;
  padding: 4rem 0; }
  .footer .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .footer__item {
    width: 100%;
    text-align: center; }
    .footer__item--1 {
      padding-bottom: 4rem; }
      .footer__item--1 .email {
        margin-top: 3rem;
        color: #c38d73;
        font-size: 2.6rem;
        font-weight: 700; }
    .footer__item--2 {
      padding: 3rem 0rem;
      border-top: 0.2rem solid #f4f4f4;
      border-bottom: 0.2rem solid #f4f4f4; }
      .footer__item--2 ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .footer__item--2 ul a {
          color: #c38d73;
          text-transform: uppercase;
          font-size: 2.6rem;
          font-weight: 700;
          transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
          .footer__item--2 ul a:hover {
            color: #191a1d; }
    .footer__item--3 {
      padding-top: 4rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%; }
  .grid__item {
    width: 100%;
    height: 35rem;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    padding-top: 2rem; }
    @media only screen and (min-width: 671px) {
      .grid__item {
        height: 46rem; } }
    .grid__item--dark {
      background-color: #191a1d; }
      .grid__item--dark .name {
        color: #fff;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem; }
      .grid__item--dark .role {
        color: #aaaaab;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.7rem; }
    .grid__item--light {
      background-color: #f4f4f4; }
      .grid__item--light .name {
        color: #232427;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem; }
      .grid__item--light .role {
        color: #7E7F80;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.7rem; }
    .grid__item .title-quinary {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%; }
    .grid__item--top {
      position: relative;
      z-index: 2; }
    .grid__item--bottom {
      width: 100%;
      position: absolute;
      bottom: 0%;
      left: 0%;
      z-index: 2; }
      .grid__item--bottom img {
        width: 100%;
        height: auto; }

/* Featured work grid */
.featured-work .grid,
.projects__work .grid {
  margin: 6rem 0; }
  .featured-work .grid .grid__item::after,
  .projects__work .grid .grid__item::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  .featured-work .grid .grid__item:hover::after,
  .projects__work .grid .grid__item:hover::after {
    background-color: rgba(25, 26, 29, 0.35); }

/* Our crew */
.our-crew .grid {
  margin-bottom: 3rem; }
  .our-crew .grid__item {
    padding-top: 2rem; }
    .our-crew .grid__item::before {
      content: attr(data-content);
      font-size: 10rem;
      color: rgba(0, 0, 0, 0.1);
      font-weight: 700; }
    .our-crew .grid__item--top {
      position: absolute;
      top: 6rem;
      left: 50%;
      transform: translateX(-50%);
      width: 100%; }

/* Stuff to note */
.stuff-to-note .grid,
.approach .grid,
.benefits .grid {
  grid-template-columns: 1fr;
  margin-top: 3rem; }
  .stuff-to-note .grid__item,
  .approach .grid__item,
  .benefits .grid__item {
    height: auto !important;
    text-align: left; }
    .stuff-to-note .grid__item:not(:last-child),
    .approach .grid__item:not(:last-child),
    .benefits .grid__item:not(:last-child) {
      margin-bottom: 3.5rem; }
    .stuff-to-note .grid__item--top,
    .approach .grid__item--top,
    .benefits .grid__item--top {
      padding-left: 7rem; }
    .stuff-to-note .grid__item::before,
    .approach .grid__item::before,
    .benefits .grid__item::before {
      content: attr(data-content);
      position: absolute;
      top: 0%;
      left: 0%;
      font-size: 10rem;
      line-height: 0.65;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.1); }
    .stuff-to-note .grid__item::after,
    .approach .grid__item::after,
    .benefits .grid__item::after {
      content: '';
      position: absolute;
      top: 3.25rem;
      left: 0%;
      height: .2rem;
      width: 1.5rem;
      background-color: #c38d73; }

/* Brands */
.brands .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 6rem; }
  .brands .grid__item {
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center; }
    .brands .grid__item a {
      transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
    .brands .grid__item img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: scale(0.8); }
    .brands .grid__item:hover a {
      opacity: 0.5; }

/* Projects */
.projects .grid__item {
  transition: all .3s ease; }
  .projects .grid__item:hover {
    box-shadow: inset 0 0 10rem black; }

/* Services */
.services .grid {
  margin-bottom: 6rem; }
  .services .grid__item {
    overflow: hidden; }
    .services .grid__item::before {
      content: '';
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      background-color: rgba(170, 170, 171, 0.1);
      z-index: 1;
      transition: all .3s ease;
      transform: translateX(-100%); }
    .services .grid__item:hover::before {
      transform: translateX(0%); }

.new-legend {
  background-image: url(../../images/New-Legend-Featured-1.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.paddle-wake {
  background-image: url(../../images/paddle-wake.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.metal-and-gas {
  background-image: url(../../images/Meta-and-gas.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;
  width: 100%;
  padding: 2.5rem 0rem; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }
  .header .logo a {
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  .header .menu {
    height: 2.5rem;
    width: 5rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
    .header .menu__line {
      height: .5rem;
      width: 100%;
      background-color: #fff;
      transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
      .header .menu__line:not(:last-child) {
        margin-bottom: 1.5rem; }

.nav {
  position: fixed !important;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 6;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  .nav--open {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  .nav .wrapper {
    flex-direction: column; }
  .nav ul {
    height: 100%; }
  .nav__top {
    padding-top: 12rem;
    margin-bottom: 4rem; }
    .nav__top li:not(:last-child) {
      margin-bottom: 2rem; }
    .nav__top a {
      color: #191a1d;
      font-size: 3.6rem;
      font-weight: 500; }
  .nav__bottom {
    padding-bottom: 12rem; }
    .nav__bottom__item:not(:last-child) {
      margin-bottom: 4rem; }
    .nav__bottom__item h6 {
      color: #aaaaab;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-bottom: 2rem; }
    .nav__bottom__item li:not(:last-child) {
      margin-bottom: 1.5rem; }
    .nav__bottom__item a {
      color: #191a1d;
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: capitalize; }

/* Loader */
.loader {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  .loader__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .loader--text {
    color: #f4f4f4;
    font-size: 12rem;
    font-weight: 900;
    line-height: 1;
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    text-align: justify;
    letter-spacing: 1rem;
    animation: loader-text 3s ease-in-out infinite; }

@keyframes loader-text {
  0% {
    color: #f4f4f4; }
  50% {
    color: #7E7F80; }
  100% {
    color: #f4f4f4; } }

.hero {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end; }
  .hero::after {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(25, 26, 29, 0.85); }
  .hero video {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1; }
  .hero .wrapper {
    position: relative;
    z-index: 3;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 25%; }
    @media only screen and (min-width: 671px) {
      .hero .wrapper {
        justify-content: space-between;
        flex-direction: row; } }
    .hero .wrapper::after {
      content: '';
      position: absolute;
      left: 0%;
      bottom: 0%;
      height: 80%;
      width: .3rem;
      background-color: #c38d73; }

.what-we-do {
  position: relative; }
  .what-we-do .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 8rem 0 6rem 0; }
    .what-we-do .wrapper::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 4rem;
      width: .3rem;
      background-color: #c38d73; }
      @media only screen and (min-width: 671px) {
        .what-we-do .wrapper::before {
          height: 6rem; } }
    @media only screen and (min-width: 671px) {
      .what-we-do .wrapper {
        justify-content: space-between;
        flex-direction: row; } }
  @media only screen and (min-width: 671px) and (min-width: 671px) {
    .what-we-do .wrapper {
      padding: 10rem 0 10rem 0; } }
  @media only screen and (min-width: 671px) {
    .what-we-do h3 {
      width: 30%; } }
  @media only screen and (min-width: 671px) {
    .what-we-do p {
      width: 70%; } }

.featured-work {
  padding-bottom: 6rem; }
  .featured-work .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.home-services {
  background-color: #191a1d;
  position: relative; }
  .home-services .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 8rem; }
    .home-services .wrapper::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 4rem;
      width: .3rem;
      background-color: #c38d73; }
      @media only screen and (min-width: 671px) {
        .home-services .wrapper::before {
          height: 6rem; } }
    @media only screen and (min-width: 671px) {
      .home-services .wrapper {
        justify-content: space-between;
        flex-direction: row; } }
  @media only screen and (min-width: 671px) and (min-width: 671px) {
    .home-services .wrapper {
      padding: 12rem 0 10rem 0; } }
  .home-services .services-list {
    margin: 3rem 0 2rem 0; }
    .home-services .services-list li {
      padding: 1.5rem 0;
      border-top: 0.2rem solid #7E7F80;
      transition: all .5s ease; }
      .home-services .services-list li:hover {
        padding: 1.5rem 2rem; }
      .home-services .services-list li:last-child {
        border-bottom: 0.2rem solid #7E7F80; }
      .home-services .services-list li a {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .home-services .services-list li a .img-container {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center; }
          .home-services .services-list li a .img-container::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -10rem;
            transform: translateY(-50%);
            width: 10rem;
            height: .2rem;
            background-color: #c38d73; }
        .home-services .services-list li a img {
          height: 1.6rem; }
  @media only screen and (min-width: 671px) {
    .home-services h3 {
      width: 30%; } }
  @media only screen and (min-width: 671px) {
    .home-services__content {
      width: 70%; } }

.our-heroes {
  padding-top: 8rem;
  background-color: #191a1d; }
  .our-heroes img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: -3rem; }

.our-folk {
  background-color: #c38d73;
  padding: 4rem 0; }
  @media only screen and (min-width: 671px) {
    .our-folk {
      padding: 8rem 0; } }
  .our-folk .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    @media only screen and (min-width: 671px) {
      .our-folk .wrapper {
        flex-direction: row; } }
  @media only screen and (min-width: 671px) {
    .our-folk h3 {
      width: 30%; } }
  @media only screen and (min-width: 671px) {
    .our-folk p {
      width: 70%; } }

.met-us {
  padding: 8rem 0 4rem 0;
  position: relative;
  background-color: #f4f4f4; }
  .met-us::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    width: .2rem;
    background-color: #c38d73; }

.testimonials__top {
  width: 100%;
  background-color: #f4f4f4; }
  .testimonials__top .wrapper {
    justify-content: center; }
  .testimonials__top__item,
  .testimonials__top__item .slick-slide {
    height: 12rem !important;
    padding: 2rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important; }
    .testimonials__top__item::after, .testimonials__top__item::before,
    .testimonials__top__item .slick-slide::after,
    .testimonials__top__item .slick-slide::before {
      content: '';
      position: absolute;
      bottom: 0%;
      height: .5rem;
      width: 0%;
      background-color: #c38d73;
      transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
    .testimonials__top__item::after,
    .testimonials__top__item .slick-slide::after {
      left: 50%; }
    .testimonials__top__item::before,
    .testimonials__top__item .slick-slide::before {
      right: 50%; }
    .testimonials__top__item:hover::after, .testimonials__top__item:hover::before,
    .testimonials__top__item .slick-slide:hover::after,
    .testimonials__top__item .slick-slide:hover::before {
      width: 50%; }
    .testimonials__top__item:hover img,
    .testimonials__top__item .slick-slide:hover img {
      opacity: 1; }
    .testimonials__top__item img,
    .testimonials__top__item .slick-slide img {
      height: auto;
      width: 100%;
      object-fit: cover;
      opacity: 0.5;
      transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
    .testimonials__top__item.active,
    .testimonials__top__item .slick-slide.active {
      opacity: 1; }

.testimonials__bottom {
  padding: 6rem 0; }
  @media only screen and (min-width: 671px) {
    .testimonials__bottom {
      width: 60%;
      margin: 0 auto; } }
  .testimonials__bottom .wrapper {
    position: relative;
    height: 35rem; }
  .testimonials__bottom .testimonial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    width: 100%;
    text-align: center; }
    .testimonials__bottom .testimonial--active {
      opacity: 1;
      visibility: visible; }
    .testimonials__bottom .testimonial blockquote {
      position: relative;
      height: 100%;
      margin: 0 auto 5rem auto;
      width: 80%; }
      .testimonials__bottom .testimonial blockquote .open-quote,
      .testimonials__bottom .testimonial blockquote .close-quote {
        height: 3.6rem;
        width: 3.6rem;
        position: absolute;
        z-index: 1; }
        .testimonials__bottom .testimonial blockquote .open-quote img,
        .testimonials__bottom .testimonial blockquote .close-quote img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .testimonials__bottom .testimonial blockquote .open-quote {
        top: 1rem;
        left: 2.5rem; }
      .testimonials__bottom .testimonial blockquote .close-quote {
        right: 2.5rem;
        bottom: 1rem; }
      .testimonials__bottom .testimonial blockquote p {
        display: inline-block;
        position: relative;
        z-index: 2;
        font-size: 2.2rem;
        line-height: 160%; }
  .testimonials__bottom p span {
    font-weight: 700; }

.start-a-project {
  background-color: #f4f4f4;
  padding: 4rem 0; }
  .start-a-project a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
    .start-a-project a:hover {
      padding: 0 2rem; }
    .start-a-project a .img-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .start-a-project a .img-container::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10rem;
        transform: translateY(-50%);
        width: 10rem;
        height: .2rem;
        background-color: #c38d73; }
      .start-a-project a .img-container img {
        height: 1.6rem; }

.about {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }
  .about .wrapper {
    position: relative;
    z-index: 3;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 25%; }
    .about .wrapper::after {
      content: '';
      position: absolute;
      left: 0%;
      bottom: 0%;
      height: 80%;
      width: .3rem;
      background-color: #c38d73; }

.crew {
  position: relative; }
  .crew__img {
    height: 20rem;
    width: 100%; }
    .crew__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .crew__content {
    background-color: #fff; }
    .crew__content .wrapper {
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      padding: 8rem 0 6rem 0; }
      .crew__content .wrapper::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        height: 4rem;
        width: .3rem;
        background-color: #c38d73; }
        @media only screen and (min-width: 671px) {
          .crew__content .wrapper::before {
            height: 6rem; } }

.our-crew {
  background-color: #fff; }
  .our-crew .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }

.our-studio {
  padding: 6rem 0; }
  .our-studio .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.stuff-to-note {
  background-color: #191a1d;
  position: relative; }
  .stuff-to-note h2 {
    margin: 3rem 0 2rem 4rem;
    text-transform: capitalize; }
  .stuff-to-note .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 8rem 0; }
    .stuff-to-note .wrapper::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 4rem;
      width: .3rem;
      background-color: #c38d73; }
      @media only screen and (min-width: 671px) {
        .stuff-to-note .wrapper::before {
          height: 6rem; } }
  .stuff-to-note__bottom {
    margin-top: 2.6rem; }

.brands {
  background-color: #fff; }
  .brands .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 8rem 0 6rem 0; }
    .brands .wrapper::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 4rem;
      width: .3rem;
      background-color: #c38d73; }
      @media only screen and (min-width: 671px) {
        .brands .wrapper::before {
          height: 6rem; } }
  .brands h2 {
    text-transform: capitalize; }
  .brands p {
    font-weight: 500;
    line-height: 1.6; }

.projects {
  background-color: #191a1d;
  height: auto;
  width: 100%; }
  .projects .wrapper {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 12rem 0;
    position: relative; }
  .projects h2 {
    font-size: 8.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase; }
  .projects button {
    border: 0;
    cursor: pointer;
    outline-width: 0;
    margin: 4rem 0;
    background-color: transparent;
    color: #c38d73; }
    .projects button span {
      color: #fff; }
  .projects__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem 6rem 8rem 6rem;
    background-color: #fff;
    display: flex;
    text-align: center;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  .projects__testimonial {
    padding: 4rem 0; }
    .projects__testimonial p {
      font-size: 2.2rem;
      font-weight: 300;
      line-height: 3.5rem;
      text-align: center; }
  .projects__work {
    background-color: #191a1d; }
  .projects-full-list {
    padding: 6rem 0;
    background-color: #191a1d; }
    .projects-full-list .wrapper {
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
    .projects-full-list ul {
      width: 100%; }
    .projects-full-list li {
      padding: 2rem 0;
      border-top: 0.2rem solid rgba(255, 255, 255, 0.1);
      transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
      display: flex;
      flex-direction: column; }
      .projects-full-list li:hover a {
        color: #aaaaab; }
    .projects-full-list a {
      transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
      .projects-full-list a.link-list__item--main {
        color: #fff;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.6rem;
        transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
      .projects-full-list a.link-list__item--secondary {
        color: #c38d73;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        margin-top: 1.2rem;
        transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
      .projects-full-list a:hover.link-list__item--main, .projects-full-list a:hover.link-list__item--secondary {
        color: #fff; }

/* services */
.services__intro {
  height: 55%;
  width: 100%;
  padding-top: 20rem; }
  .services__intro .wrapper {
    position: relative;
    height: 100%; }
    .services__intro .wrapper::after {
      content: '';
      position: absolute;
      left: 0%;
      bottom: 0%;
      height: 80%;
      width: .3rem;
      background-color: #c38d73; }

/* Services BG*/
.services__bg {
  height: 25rem;
  width: 100%; }
  .services__bg img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* Make a difference */
.make-a-difference {
  background-color: #fff; }
  .make-a-difference .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 8rem 0 6rem 0rem; }
    .make-a-difference .wrapper::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 4rem;
      width: .3rem;
      background-color: #c38d73; }
      @media only screen and (min-width: 671px) {
        .make-a-difference .wrapper::before {
          height: 6rem; } }

/* Services */
.services {
  background-color: #fff;
  padding-bottom: 6rem; }
  .services .wrapper {
    flex-direction: column;
    align-items: center; }

/* Our Approach */
.approach {
  background-color: #191a1d; }
  .approach .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 8rem 0 9rem 0; }
    .approach .wrapper::after {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 4rem;
      width: .3rem;
      background-color: #c38d73; }
      @media only screen and (min-width: 671px) {
        .approach .wrapper::after {
          height: 6rem; } }

/* Careers */
.careers__intro {
  height: 55%;
  width: 100%;
  padding-top: 20rem; }
  .careers__intro .wrapper {
    position: relative;
    height: 100%; }
    .careers__intro .wrapper::after {
      content: '';
      position: absolute;
      left: 0%;
      bottom: 0%;
      height: 80%;
      width: .3rem;
      background-color: #c38d73; }

.careers__bg {
  height: 25rem;
  width: 100%; }
  .careers__bg img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* Open positions */
.open-positions {
  background-color: #fff;
  padding: 8rem 0 6rem 0rem;
  position: relative; }
  .open-positions::before {
    content: '';
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 4rem;
    width: .3rem;
    background-color: #c38d73; }
    @media only screen and (min-width: 671px) {
      .open-positions::before {
        height: 6rem; } }
  .open-positions .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.benefits {
  padding: 8rem 0 9rem 0;
  position: relative;
  background-color: #191a1d; }
  .benefits .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
