@mixin full-width {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

@mixin section-line {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 4rem;
    width: .3rem;
    background-color: $orange;

    @media only screen and (min-width: $device-small) {
        height: 6rem;
    }
}

//Background image
@mixin bg-image {
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}