@mixin full-width {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

@mixin section-line {
    content: '';
    position: absolute;
    top: 0%;
    left: 5%;
    height: 4rem;
    width: .3rem;
    background-color: $orange;
}

//Transition
@mixin transition {
    transition: all .3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}