.footer {
    background-color: $white;
    padding: 4rem 0;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    //goes to typography
    &__item {
        width: 100%;
        text-align: center;

        &--1 {
            padding-bottom: 4rem;

            & .email {
                margin-top: 3rem;
                color: $orange;
                font-size: 2.6rem;
                font-weight: 700;
            }
        }

        &--2 {
            padding: 3rem 0rem;
            border-top: .2rem solid $light-grey;
            border-bottom: .2rem solid $light-grey;

            @media only screen and (min-width: $device-small) {
                padding: 3rem 6rem;
            }

            & ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &--3 {
            padding-top: 4rem;
        }

    }
}