.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;

    @media only screen and (min-width: $device-small) {
        gap: 2.5rem;
    }

    &__item {
        width: 100%;
        height: 35rem;
        position: relative;
        text-align: center;
        text-transform: capitalize;
        padding-top: 2rem;

        @media only screen and (min-width: $device-small) {
            height: 46rem;
        }

        &--dark {
            background-color: $dark-text;
            
            & .name {
                color: $white;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 2rem;

                @media only screen and (min-width: $device-small) {
                    font-size: 2.8rem;
                    line-height: 2.8rem;
                }
            }

            & .role {
                color: $dark-grey;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.7rem;

                @media only screen and (min-width: $device-small) {
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }
        }

        &--light {
            background-color: $light-grey;

            & .name {
                color: $light-text;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 2rem;

                @media only screen and (min-width: $device-small) {
                    font-size: 2.8rem;
                    line-height: 2.8rem;
                }
            }

            & .role {
                color: $grey-text;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.7rem;

                @media only screen and (min-width: $device-small) {
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }
        }

        & .title-quinary {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        &--top {
            position: relative;
            z-index: 2;
        }

        &--bottom {
            width: 100%;
            position: absolute;
            bottom: 0%;
            left: 0%;
            z-index: 2;

            & img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/* Featured work grid */
.featured-work,
.projects__work {

    & .grid {
        margin: 6rem 0;
        
        & .grid__item {

            @media only screen and (min-width: $device-large) {
                height: 100rem;
            }

            &::after {
                content: '';
                @include full-width;
                background-color: transparent;
                transition: $fast-transition;
            }
    
            &:hover {
    
                &::after {
                    background-color: rgba($dark-text, .35)
                }
    
            }
    
        }

    }

}

/* Our crew */
.our-crew {

    & .grid {
        margin-bottom: 3rem;

        @media only screen and (min-width: $device-small) {
            margin-bottom: 4rem;
        }

        &__item {
            padding-top: 2rem;

            &::before {
                content: attr(data-content);
                font-size: 10rem;
                color: rgba(0,0,0,0.1);
                font-weight: 700;

                @media only screen and (min-width: $device-small) {
                    font-size: 18rem;
                }
            }

            &--top {
                position: absolute;
                top: 6rem;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;

                @media only screen and (min-width: $device-small) {
                    top: 12rem;
                }
            }

        }

    }

}

/* Stuff to note */
.stuff-to-note,
.approach,
.benefits {

    & .grid {
        grid-template-columns: 1fr;
        margin-top: 3rem;

        @media only screen and (min-width: $device-small) {
            grid-template-columns: repeat(2, 1fr);
            gap: 5rem;

        }

        &__item {
            height: auto !important;
            text-align: left;

            @media only screen and (min-width: $device-small) {
                & .text {
                    width: 100%;
                }
    
            }

            &:not(:last-child) {
                margin-bottom: 3.5rem;
            }

            &--top {
                padding-left: 7rem;
            }

            &::before {
                content: attr(data-content);
                position: absolute;
                top: 0%;
                left: 0%;
                font-size: 10rem;
                line-height: 0.65;
                font-weight: 700;
                color: rgba(0,0,0,0.1);
            }

            &::after {
                content: '';
                position: absolute;
                top: 3.25rem;
                left: 0%;
                height: .2rem;
                width: 1.5rem;
                background-color: $orange;
            }

        }

    }

}

/* Brands */
.brands {
    & .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
        margin-top: 6rem;

        @media only screen and (min-width: $device-small) {
            grid-template-columns: repeat(4, 1fr);
        }

        &__item {
            height: 100%;
            width: 100%;
            padding: 2rem 0;
            display: flex;
            align-items: center;

            @media only screen and (min-width: $device-small) {
                padding: 4rem 4rem;
            }

            & a {
                transition: all .3s ease;
            }

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform: scale(0.8);

                @media only screen and (min-width: $device-small) {
                    transform: scale(1);
                }
            }

            &:hover a {
                opacity: 0.5;
            }
        }
    }
}

/* Projects */
.projects {
    & .grid {
        &__item {
            transition: all .3s ease;
            &:hover {
                box-shadow: inset 0 0 10rem black;
            }
        }
    }

    &__work {
        & .grid {
            @media only screen and (min-width: $device-small) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

/* Services */
.services {
    & .grid {
        margin-bottom: 6rem;

        &__item {
            overflow: hidden;

            @media only screen and (min-width: $device-small) {
                height: 66rem;
            }

            &::before {
                content: '';
                @include full-width;
                background-color: rgba($dark-grey, 0.1);
                z-index: 1;
                transition: all .3s ease;
                transform: translateX(-100%);
            }

            &:hover {
                &::before {
                    transform: translateX(0%);
                }
            }
        }
    }
}

.new-legend {
    background-image: url(../../images/New-Legend-Featured-1.jpg);
    @include bg-image;
}

.paddle-wake {
    background-image: url(../../images/paddle-wake.jpg);
    @include bg-image;
}

.metal-and-gas {
    background-image: url(../../images/Meta-and-gas.jpg);
    @include bg-image;
}