.header {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    padding: 2.5rem 0rem;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
    }

    & .logo {
        & a {
           transition: $fast-transition;
        }
    }

    & .menu {
        height: 2.5rem;
        width: 5rem;
        cursor: pointer;
       transition: $fast-transition;

        &__line {
            height: .5rem;
            width: 100%;
            background-color: $white;
           transition: $fast-transition;

           &--light {
               background-color: $white;
           }

           &--dark {
               background-color: $dark-text;
           }

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
}