.nav {
    position: fixed !important;
    @include full-width;
    z-index: 6;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    transition: $fast-transition;

    &--open {
        opacity: 1;
        visibility: visible;
        transition: $fast-transition;
    }

    & .wrapper {
        flex-direction: column;

        @media only screen and (min-width: $device-small) {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
        }
    }

    & ul {
        // background-color: orange;
        height: 100%;
    }

    &__top {
        padding-top: 12rem;
        margin-bottom: 4rem;

        @media only screen and (min-width: $device-small) {
            padding-top: 20rem;
            margin-bottom: 0rem;
            width: 50%;
        }

        & li {
            &:not(:last-child) {
                margin-bottom: 2rem;

                @media only screen and (min-width: $device-small) {
                    margin-bottom: 3.5rem;
                }
            }
        }

        & a {
            color: $dark-text;
            font-size: 3.6rem;
            font-weight: 600;

            @media only screen and (min-width: $device-small) {
                font-size: 3.6rem;
                line-height: 3.6rem;
            }
        }
    }

    &__bottom {
        padding-bottom: 12rem;

        @media only screen and (min-width: $device-small) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 20rem;
            padding-bottom: 0rem;
            width: 50%;
        }

        & h6 {
            color: $dark-grey;
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        &--top {
            margin-bottom: 4rem;

            @media only screen and (min-width: $device-small) {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 0rem;
                width: 50%;

                & ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;
                }
            }            
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 4rem;
            }

            @media only screen and (min-width: $device-small) {
                width: 50%;
            }

            & li:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            & a {
                color: $dark-text;
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: capitalize;

                @media only screen and (min-width: $device-small) {
                    font-size: 1.8rem;
                    line-height: 1.8rem;
                }
            }
        }

        &--bottom {
            width: 50%;
        }

    }
}