.about {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    @media only screen and (min-width: $device-small) {
        height: 100%;
    }

    & .wrapper {
        position: relative;
        z-index: 3;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 25%;

        @media only screen and (min-width: $device-small) {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0%;
            bottom: 0%;
            height: 80%;
            width: .3rem;
            background-color: $orange;
        }
    }
}

.crew {
    &__img {
        height: 25rem;
        width: 100%;

        @media only screen and (min-width: $device-small) {
            height: 50rem;
        }

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        background-color: $white;

        & .wrapper {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding: 8rem 0 6rem 0;

            @media only screen and (min-width: $device-small) {
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row;
            }

            &::before {
                @include section-line;
            }
        }

        & .paragraphs {
            @media only screen and (min-width: $device-small) {
                width: 50%;

                & p {
                    width: 100%;

                    &:not(:last-child) {
                        margin-bottom: 3rem;
                    }
                }
            }
            
        }
    }
}

.our-crew {
    background-color: $white;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}

.our-studio {
    padding: 6rem 0;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        @media only screen and (min-width: $device-small) {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
        }
    }
}

.stuff-to-note {
    background-color: $dark-text;
    // padding: 8rem 0;
    position: relative;

    & h2 {
        margin: 3rem 0 2rem 4rem;
        text-transform: capitalize;

        @media only screen and (min-width: $device-small) {
            margin: 3rem 0 2rem 0rem;
        }
    }

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 8rem 0;

        &::before {
            @include section-line;
        }
    }

    &__top {
        @media only screen and (min-width: $device-small) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            & h3 {
                width: 50%;
            }
        }

        &__content {
            @media only screen and (min-width: $device-small) {
                width: 50% !important;

                & p {
                    width: 100%;
                }
            }
        }
    }

    &__bottom {
        margin-top: 2.6rem;
    }
}

.brands {
    background-color: $white;
    
    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 8rem 0 6rem 0;

        &::before {
            @include section-line;
        }
    }

    & h2 {
        text-transform: capitalize;
    }

    & p {
        font-weight: 500;
        line-height: 1.6;
    }

    &__top {
        @media only screen and (min-width: $device-small) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
    }

    &__content {
        @media only screen and (min-width: $device-small) {
            width: 50%;

            & h2 {
                color: $dark-text;
                font-size: 2.8rem;
                line-height: 4.1rem;
                font-weight: 600;
                margin-bottom: 3rem;
            }

            & p {
                width: 100%;
            }
        }
    }
}