/* services */
.services__intro {
    height: 55%;
    width: 100%;
    padding-top: 20rem;

    @media only screen and (min-width: $device-small) {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    & .wrapper {
        position: relative;
        height: 100%;

        @media only screen and (min-width: $device-small) {
            justify-content: space-between;
            height: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0%;
            bottom: 0%;
            height: 80%;
            width: .3rem;
            background-color: $orange;
        }
    }
}

/* Services BG*/
.services__bg {
    height: 25rem;
    width: 100%; 

    @media only screen and (min-width: $device-small) {
        height: 50rem;
    }

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
 /* Make a difference */
.make-a-difference {
    background-color: $white;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 8rem 0 6rem 0rem;

        @media only screen and (min-width: $device-small) {
            flex-direction: row;
        }

        &::before {
            @include section-line;
        }
    }
}

/* Services */
.services {
    background-color: $white;
    padding-bottom: 6rem;

    & .wrapper {
        flex-direction: column;
        align-items: center;
    }
}

/* Our Approach */
.approach {
    background-color: $dark-text;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 8rem 0 9rem 0;

        &::after {
            @include section-line;
        }
    }

    & .stuff-to-note {
        &__top {
            @media only screen and (min-width: $device-small) {
                flex-direction: row;
                justify-content: space-between;

                & div {
                    width: 50%;

                    & .secondary-title {
                        margin-bottom: 3rem;
                    }

                    & p {
                        width: 100%;
                    }
                }
            }
        }
    }
}